body{
    margin: 0;
}

.zone{
    height: 100vh;
}

#zone_1{
    background-color: aquamarine;
    display: grid;
    grid-template-rows: auto 1vh;
}

#zone_2{
    background-color: #a1e400;
}

#zone_3{
    background-color: red;
    display: flex;
}